header{
  /*text-align: center;*/
  color: white;
  background-color: #4DB6AC;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .container {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  margin-top: 0;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
