
<header>
  <div class="container">
    <div class="intro-text">
      <div
        ngClass="name-small"
        ngClass.sm="name-small"
        ngClass.gt-sm="name-large">
        Anticipate Don't Wait.
      </div>
    </div>
  </div>
</header>


<div style="padding: 16px;"></div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
<app-bonus>
</app-bonus>
    <div style="padding: 16px;"></div>
    <!--
<div style="padding: 16px;"></div>
<div fxLayout="row wrap"
     fxLayoutGap="32px"
     fxLayoutAlign="center start">

  <div class="home-buttons">
    <button mat-button color="primary" routerLink="/resources">
      <div fxLayoutAlign="center center" fxLayout="column">
        <mat-icon>assignment</mat-icon>
        <span>Forms</span>
      </div>
    </button>
  </div>
  <div class="home-buttons">
    <button mat-button color="primary" routerLink="/directory">
      <div fxLayoutAlign="center center" fxLayout="column">
        <mat-icon>event</mat-icon>
        <span>Calendar</span>
      </div>
    </button>
  </div>
      <div class="home-buttons">
        <button mat-button color="primary" routerLink="/directory">
          <div fxLayoutAlign="center center" fxLayout="column">
            <mat-icon>contact_phone</mat-icon>
            <span>People</span>
          </div>
        </button>
      </div>
      <div class="home-buttons">
        <button mat-button color="primary" routerLink="/map">
          <div fxLayoutAlign="center center" fxLayout="column">
            <mat-icon>map</mat-icon>
            <span>Map</span>
          </div>
        </button>
      </div>
</div>
</div>
<div style="padding: 32px;"></div>
-->

<!--
    <mat-list role="list">
      <mat-list-item role="listitem">
        <button mat-button  color="accent" routerLink="resources">
          <mat-icon>assignment</mat-icon>
          <span>Forms, Documents, Sheets and more</span>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button color="accent" routerLink="calendar">
          <mat-icon>event</mat-icon>
          <span>Calendar of Company Events</span>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button color="accent" routerLink="directory">
          <mat-icon>contact_phone</mat-icon>
          <span>Directory of People</span>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button color="accent" routerLink="map">
          <mat-icon>map</mat-icon>
          <span>Maps of Properties</span>
        </button>
      </mat-list-item>
    </mat-list>
</div>


  </mat-card-content>
  <mat-card-footer style="width:95%">
  </mat-card-footer>
</mat-card>-->

<!--
<div fxLayout="column" fxLayoutAlign="start center" class="home-buttons">
  <button mat-button  color="warn" routerLink="resources">
    <mat-icon>assignment</mat-icon>
    <span>Find Resources</span>
  </button>
  <button mat-button color="accent" routerLink="calendar">
    <mat-icon>event</mat-icon>
    <span>Calendar of Company Events</span>
  </button>
  <button mat-button color="accent" routerLink="directory">
    <mat-icon>contact_phone</mat-icon>
    <span>Directory of People</span>
  </button>
  <button mat-button color="accent" routerLink="map">
    <mat-icon>map</mat-icon>
    <span>Maps of Properties</span>
  </button>
</div>-->
<!--<ul>
  <li *ngIf="!authenticationService.isAuthenticated">
    <button mat-button (click)="authenticationService.login()">Login with Google</button>
  </li>
  <li *ngIf="authenticationService.isAuthenticated">
    <p>Signed in as {{authenticationService.userName}}<small>  <a href="#" (click)="authenticationService.logout()">(Logout)</a></small></p>
  </li>
  <li *ngIf="authenticationService.isAuthenticated">
    <img class="img-responsive" [src]="authenticationService.userImageUrl">
  </li>
</ul>

<div  *ngIf="authenticationService.isAuthenticated">
  <h4>Appointments available for {{authenticationService.userName}}:</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let appointment of appointments">
      {{appointment}}
    </li>
  </ul>
  <button class="btn btn-default navbar-btn" (click)="refreshAppointments()">Refresh</button>
</div>

<div  *ngIf="authenticationService.isAuthenticated">
  <h4>Sheet for {{authenticationService.userName}}:</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let row of rows">
      {{row}}
    </li>
  </ul>
  <button class="btn btn-default navbar-btn" (click)="refreshDirectory()">Refresh</button>
</div>
-->
