
<header>
  <div class="container">

    <div class="intro-text" >
      <div fxLayout="row" fxLayoutAlign="start start">
        <!--<button mat-button *ngIf="media.isActive('xs')" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>-->
        <h2 class="name">HIGHLAND COMMERCIAL PROPERTIES COMPANY INTRANET</h2>
      </div>
      <p class="skills">Welcome to the company intranet. This is where you can find all company resources in one place.</p>
    </div>
  </div>
</header>

<div>

  <table border="0" cellpadding="0" cellspacing="10" style="width:70%;border-spacing:0px 30px;margin-left:auto;margin-right:auto">

    <tbody>

    <tr>

      <td valign="top" width="50%">

        <table border="0" cellpadding="5" cellspacing="0" style="border-spacing:10px 0px">

          <tbody>

          <tr>

            <td valign="top">

              <div style="display:block;text-align:left;vertical-align:top">
                <a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/resources">
                  <img alt="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/resources" border="0" src="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/home/copy-document_icon-smaller.png"> </a> </div>
            </td>

            <td valign="top">

              <h3><b><a href="goog_1138051806">Resources</a></b></h3>

              <p><a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/resources">Find forms, letters, spreadsheets, reports and more in                        this section. All Company resources in one place.</a></p>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td valign="top">

        <table border="0" cellpadding="5" cellspacing="0" style="border-spacing:10px 0px">

          <tbody>

          <tr>

            <td valign="top">

              <div style="display:block;text-align:left"> <a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/calendar">
                <img border="0" src="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/home/calendar-with-spring-binder-and-date-blocks_small.png"> </a></div>
            </td>

            <td valign="top">

              <h3><b><a href="goog_1138051822">Calendar</a></b></h3>

              <p><a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/calendar">Keep track of the company schedule with the calendar                        page.</a></p>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>

      <td style="border-bottom:1px solid #cccccc">
      </td>

      <td style="border-bottom:1px solid #cccccc">
      </td>
    </tr>

    <tr>

      <td valign="top">

        <table border="0" cellpadding="5" cellspacing="0" style="border-spacing:10px 0px">

          <tbody>

          <tr>

            <td valign="top">

              <div style="display:block;text-align:left"> <a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/directory">
                <img border="0" src="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/home/512px-Book_font_awesome-smaller.png"> </a></div>
            </td>

            <td valign="top">

              <h3><b><a href="goog_1138051826">Directory</a></b></h3>

              <p><a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/directory">The entire company at your fingertips in the online                        directory. </a></p>

              <div style="display:block;text-align:right;margin-left:auto">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td valign="top">

        <table border="0" cellpadding="5" cellspacing="0" style="border-spacing:10px 0px">

          <tbody>

          <tr>

            <td valign="top"> <a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/map">

              <div style="display:block;text-align:left"> <img border="0" src="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/home/map-icon-smaller.png"> </div>
            </a></td>

            <td valign="top">

              <h3><b><a href="goog_1138051830">Map of Locations</a></b></h3>

              <p><a href="https://sites.google.com/a/hcptexas.com/hcp-intranet-v6/map">Find all our locations.</a></p>

              <div style="display:block;text-align:right;margin-left:auto">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>

      <td style="border-bottom:1px solid #cccccc">
      </td>

      <td style="border-bottom:1px solid #cccccc">
      </td>
    </tr>

    </tbody>
  </table>
</div>
