
.sidenav-header {
  padding-left: 16px;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
}

/*
.sidenav-container {
  display: flex;
  flex-direction: column;
}*/

/*
.all-wrap {
  min-height: 100vh;
}*/

#btmFooter {
  align-self: flex-end;
}
/*
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*/
.dash-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .dash-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.dash-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
