<mat-sidenav-container  class="dash-sidenav-container sidenav-container" (backdropClick)="close()">
  <mat-sidenav
               #sidenav
               class="mat-elevation-z4"
               [mode]="media.isActive('xs') ? 'over' : 'side'"
               [opened]="!media.isActive('xs')">
    <div  *ngIf="this.userAuthorized">
      <mat-list role="list">
          <mat-list-item role="listitem">
            <h4>Forms</h4>
          </mat-list-item>
          <mat-list-item
            class="sidenav-list-item"
            role="listitem">
            <a target="_blank"
               mat-button
               href="https://docs.google.com/forms/d/e/1FAIpQLSe8XL1Oqq3A_0KfdFVJHuKVThjQYhli2TkY7kdAmPygq1bF5g/viewform?usp=sf_link">Thank You Visits</a>
          </mat-list-item>
          <mat-list-item
            class="sidenav-list-item"
            role="listitem">
            <a target="_blank"
               mat-button
               href="https://docs.google.com/forms/u/1/d/1v6ybI2OWNFnwUkKQFmSZ7rZRkTpWWv1c8Z3K7PFQxAw/edit?usp=drive_web">Service Agreements</a>
          </mat-list-item>
          <!--<mat-list-item
            class="sidenav-list-item"
            role="listitem">
            <a target="_blank"
               mat-button
               href="https://docs.google.com/forms/d/e/1FAIpQLScnLAApErjtQcrQ66x4eFO9JOrErj0i4Vq4m-SbyXuDYxXEWA/viewform?usp=sf_link">Speedy Approvals</a>
          </mat-list-item>-->
          <mat-list-item
            class="sidenav-list-item"
            role="listitem">
            <a target="_blank"
               mat-button
               href="https://docs.google.com/forms/d/e/1FAIpQLSdarMH653FWdSU_RWzhov0z9DA-VyfjdxXT4V0Vl7RcZuxPaA/viewform?usp=sf_link">Request PTO</a>
          </mat-list-item>
        <mat-list-item
          class="sidenav-list-item"
          role="listitem">
          <a target="_blank"
             mat-button href="https://goo.gl/forms/IUALMdVIG5Uxej4R2">Bedbug Treatment Request</a>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h4>Tools</h4>
        </mat-list-item>
        <mat-list-item class="sidenav-list-item" role="listitem">
          <p><button mat-button color="warn" routerLink="/contractors">Contractors </button></p>
        </mat-list-item>
        <mat-list-item role="listitem" >
          <button mat-button routerLink="mr-table">Make Ready Builder</button>
        </mat-list-item>
        <mat-list-item role="listitem" >
          <button mat-button routerLink="speedy-apps">Speedy Approvals</button>
        </mat-list-item>
        <mat-list-item role="listitem" >
          <button mat-button routerLink="decision-board">Decision Board</button>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list *ngIf="this.isExecutive" role="list">
        <mat-list-item role="listitem">
          <h4>Experimental</h4>
        </mat-list-item>
        <mat-list-item role="listitem" >
          <button mat-button routerLink="decision-board">Decision Board</button>
        </mat-list-item>
        <mat-list-item role="listitem" >
          <button mat-button routerLink="ty-visits">New Thank You Visits *<sup>new</sup></button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content-container">

    <router-outlet></router-outlet>
    <!--<mat-toolbar color="primary" class="footer">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <span>Every Little Bit Matters</span>
      </mat-toolbar-row>
    </mat-toolbar>-->
  </mat-sidenav-content>

</mat-sidenav-container>
