<mat-card
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [class.mat-elevation-z8]="mouseEnter"
  class="decision-panel">

  <mat-card-content>
    <div fxLayout="column">
      <div *ngIf="decision.title">
        <p><b>{{decision.title}}</b></p>
      </div>
      <p [ngStyle]="figureTextSize(decision.content.length)">{{decision.content}}</p>
      <div *ngIf="decision.result">
        <p [ngStyle]="figureTextSize(decision.result.length)">{{decision.result }}</p>
      </div>
      <div *ngIf="decision.rating">
        <star-rating
          [starType]="'svg'"
          [rating]="decision.rating"
          [readOnly]="true"
          class="decision-star-rating">
        </star-rating>
      </div>
      <div *ngIf="auth.user | async as user;">
        <div *ngIf="user.isEditor">
          <p><b>{{decision.email }}</b></p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
