<mat-toolbar color="primary" class="dash-toolbar mat-elevation-z5">
  <mat-toolbar-row *ngIf="!this.userProfile">
    <img class="dash-logo" src="../../assets/watermeadow_logo_blue_gray_sm.png"/>
    <button ngClass="header-button"
            ngClass.lt-md="header-button-small"
            mat-button >HCP Dashboard</button>

  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="this.userProfile">
    <button mat-icon-button (click)="openSidebar()"> <mat-icon color="white" class="main-menu-icon">menu</mat-icon></button>
    <img class="dash-logo" src="../../assets/watermeadow_logo_blue_gray_sm.png"/>
    <button ngClass="header-text"
            ngClass.gt-md="header-text-large"
            mat-button routerLink="">HCP Dashboard</button>
    <span class="example-spacer"></span>
    <div fxLayoutAlign="row" fxHide fxShow.gt-sm>
      <p><button mat-button class="header-button" routerLink="">Home</button></p>
      <p><button mat-button class="header-button" routerLink="/resources">Resources</button></p>
      <p><button mat-button class="header-button" routerLink="/calendar">Calendar</button></p>
      <p><button mat-button class="header-button" routerLink="/directory">Directory</button></p>
      <p><button mat-button class="header-button" routerLink="/map">Maps</button></p>
      <p><button mat-button class="header-button" routerLink="/contractors">Contractors</button></p>

      <p><a mat-button target="_blank" href="https://hcp.appfolio.com/">Appfolio</a></p>
      <p *ngIf="!this.userProfile"><button mat-button (click)="signOut()">Sign In</button></p>
    </div>
      <!--<p *ngIf="!this.userSignedIn" fxHide fxShow.md fxShow.lg><button class="signout-button" mat-button (click)="signIn()">sign in</button></p>-->
    <!--<p fxHide fxShow.md><button mat-button routerLink="">Property</button></p>-->
    <div class="img-profile-container" fxHide.xs>
      <img [matMenuTriggerFor]="authMenu" class="profile-img profile-img-button" *ngIf="this.userProfile" [src]="this.profileImg"/>
    </div>
    <div fxHide.gt-sm fxHide.xs>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="resources">
        <span>Resources</span>
      </button>
      <button mat-menu-item routerLink="calendar">
        <span>Calendar</span>
      </button>
      <button mat-menu-item routerLink="directory">
        <span>Directory</span>
      </button>
      <button mat-menu-item routerLink="map">
        <span>Maps</span>
      </button>
      <a target="_blank" mat-menu-item href="https://hcp.appfolio.com/">
        <span>Appfolio</span>
      </a>
    </mat-menu>

    <mat-menu class="profile-menu" #authMenu="matMenu">
      <div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <img [matMenuTriggerFor]="authMenu" class="profile-img profile-img-large" *ngIf="this.userProfile" [src]="this.profileImg"/>
        <div fxLayoutAlign="center start" fxLayout="column">
          <strong>{{this.userProfile.name}}</strong>
          <span>{{this.userProfile.email}}</span>
        </div>
      </div>

      <button *ngIf="this.userSignedIn" mat-menu-item (click)="signOut()">
        <span>Sign out</span>
      </button>
      </div>
    </mat-menu>

  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="this.userProfile" fxHide fxShow.xs>
    <span class="example-spacer"></span>
    <div class="img-profile-container">
      <img [matMenuTriggerFor]="subAuthMenu" class="profile-img" *ngIf="this.userProfile" [src]="this.profileImg"/>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="subMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>


    <mat-menu #subMenu="matMenu">
      <button mat-menu-item routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="resources">
        <span>Resources</span>
      </button>
      <button mat-menu-item routerLink="calendar">
        <span>Calendar</span>
      </button>
      <button mat-menu-item routerLink="directory">
        <span>Directory</span>
      </button>
      <button mat-menu-item routerLink="map">
        <span>Maps</span>
      </button>
      <a target="_blank" mat-menu-item href="https://hcp.appfolio.com/">
        <span>Appfolio</span>
      </a>
    </mat-menu>

    <mat-menu #subAuthMenu="matMenu" >
      <div fxLayoutAlign="center center" fxLayout="column">
        <h5>{{this.userProfile.name}}</h5>
        <h6>{{this.userProfile.email}}</h6>
      </div>
      <button *ngIf="this.userSignedIn" mat-menu-item (click)="signOut()">
        <span>Sign out</span>
      </button>

    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
