.dash-logo{
  max-width: 80%;
  max-height: 80%;
}
/*
.header-button{
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

.header-text-large{
  font-size: 1.5em;
  font-weight: 400;
}

.header-button{
  padding-left:4px;
  padding-right:4px;
}

.header-text{
  text-align: center;
  color: white;
  font-size: 1em;
  font-weight: 400;
  /*background-color: #00BFA5;*/
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.signout-button{
  font-size: .75em;
  font-weight: 400;
}

.profile-img{
  border-radius: 50%;
}

.profile-img-button{
    width: 40%;
    cursor: pointer;
}

.profile-img-large{
  padding: 4px;
}

.mat-menu.profile-menu{
  margin: 16px;
  padding: 16px;
  max-width: none;
}


.img-profile-container{
  text-align: right;
  padding: 0px;
  margin: 0px;
}

.main-menu-icon:hover{
  color: deeppink;
}
