<h1 mat-dialog-title>Make Ready Info</h1>
<div mat-dialog-content
       fxLayout="column"
       fxLayoutGap="8px">
  <mat-card>
    <mat-card-title>Basics</mat-card-title>
    <mat-card-content>
      <div class="mat-body-1">Make Ready Built on {{data.mr.timestamp | date}} by {{data.mr.preparerName}} ({{data.mr.email}}) </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Make Ready</mat-card-title>
    <mat-card-content>
      <div>
        <div class="mat-body-1"><b>Scope: </b></div>
        <div class="mat-body-1">{{data.mr.scope.scopeDescription}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Unit Size: </b></div>
        <div class="mat-body-1">{{data.mr.unit.size}} square feet </div>
      </div>
      <div>
        <div class="mat-body-1"><b>Rate: </b></div>
        <div class="mat-body-1">${{data.mr.scope.baseMReadyRate}} / sq. ft.</div>
      </div>

      <div *ngIf="data.mr.scope.isFullTexture; else notFullTexture">
        <div>
          <div class="mat-body-1"><b>Rate Add: </b></div>
          <div class="mat-body-1">$0.25 / sq. ft. additional for full texture.
            (${{data.mr.scope.baseMReadyRate}} + $0.25 =
            ${{data.mr.scope.baseMReadyRate + 0.25}})</div>
        </div>
        <div>
          <div class="mat-body-1"><b>Total: </b></div>
          <div class="mat-body-1">${{data.mr.scope.totalPrice}}</div>
        </div>
      </div>
      <ng-template #notFullTexture>
        <div>
          <div class="mat-body-1"><b>Total: </b></div>
          <div class="mat-body-1">${{data.mr.scope.totalPrice}}</div>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Extras</mat-card-title>
    <mat-card-content>
      <div *ngIf="data.mr.scope.costOfExtras > 0; else noExtras">
        <mat-list>
          <mat-list-item *ngFor="let extra of data.mr.scope.extras.extrasAsArray">
            <div class="mat-body-1">
              {{extra.description}} @ ${{extra.price}} each = ${{extra.totalPrice}}
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1"><b>Total of Extras: </b></div>
            <div class="mat-body-1">${{data.mr.scope.costOfExtras}}</div>
          </mat-list-item>
        </mat-list>
      </div>
      <ng-template #noExtras>
        <div class="mat-body-1">No Extras</div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Service Agreement</mat-card-title>
    <mat-card-content>
      <div *ngIf="data.mr.contracts[0].contractor; else noMainContractor">
        <div class="mat-body-1"><b>Contractor: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[0].contractor}}</div>
      </div>
      <ng-template #noMainContractor>
        <div class="mat-body-1"><b>Contract created blank.</b></div>
      </ng-template>
      <div>
        <div class="mat-body-1"><b>Start Date: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[0].startDate}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Contract Price: </b></div>
        <div class="mat-body-1">${{data.mr.contracts[0].price}}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="data.mr.scope.showerTile">
    <mat-card-title>Shower Tile Service Agreement</mat-card-title>
    <mat-card-content>
      <div *ngIf="data.mr.contracts[2].contractor; else noMainContractor">
        <div class="mat-body-1"><b>Contractor: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[2].contractor}}</div>
      </div>
      <ng-template #noMainContractor>
        <div class="mat-body-1"><b>Contract created blank.</b></div>
      </ng-template>
      <div>
        <div class="mat-body-1"><b>Scope: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[2].scope}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Start Date: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[2].startDate}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Contract Price: </b></div>
        <div class="mat-body-1">${{data.mr.contracts[2].price}}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="data.mr.scope.granite">
    <mat-card-title>Granite Countertops Service Agreement</mat-card-title>
    <mat-card-content>
      <div *ngIf="data.mr.contracts[1].contractor; else noMainContractor">
        <div class="mat-body-1"><b>Contractor: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[1].contractor}}</div>
      </div>
      <ng-template #noMainContractor>
        <div class="mat-body-1"><b>Contract created blank.</b></div>
      </ng-template>
      <div>
        <div class="mat-body-1"><b>Scope: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[1].scope}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Start Date: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[1].startDate}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Contract Price:</b></div>
        <div class="mat-body-1">${{data.mr.contracts[1].price}}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="data.mr.scope.microwave">
    <mat-card-title>Microwave Service Agreement</mat-card-title>
    <mat-card-content>
      <div *ngIf="data.mr.contracts[3].contractor; else noMainContractor">
        <div class="mat-body-1"><b>Contractor: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[3].contractor}}</div>
      </div>
      <ng-template #noMainContractor>
        <div class="mat-body-1"><b>Contract created blank.</b></div>
      </ng-template>
      <div>
        <div class="mat-body-1"><b>Scope: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[3].scope}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Start Date: </b></div>
        <div class="mat-body-1">{{data.mr.contracts[3].startDate}}</div>
      </div>
      <div>
        <div class="mat-body-1"><b>Contract Price: </b></div>
        <div class="mat-body-1">${{data.mr.contracts[3].price}}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="data.mr.scope.flooring.flooringList.length > 0">
    <mat-card-title>Flooring</mat-card-title>
    <mat-card-content>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let flooring of data.mr.scope.flooring.flooringList">
            <div>
              {{flooring.description}} @ {{flooring.quantity}} sq. ft.
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="data.mr.scope.applianceList.length > 0">
    <mat-card-title>Appliances</mat-card-title>
    <mat-card-content>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let appliance of data.mr.scope.applianceList">
            <div>
              {{appliance}}
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Ok</button>
    <div *ngIf="this.userService.isAdmin()">
      <button mat-raised-button color="warn" (click)="deleteMakeReady()">DELETE</button>
    </div>

</div>
