
.example-table {
  overflow: auto;
  max-height: 600px;
}
.example-table-container {
  overflow: auto;
  width: 90vw;
  min-width: 450px;
  max-width: 1200px;
  margin-bottom: 64px;
}
.mat-row:hover{
  /*background-color: #E0F2F1;*/
  cursor:pointer;
}

.mr-progress-row{
  text-align: center;
}
/*
.example-first-header-row th {
  border-bottom: none;
}*/
.example-second-header-row {
  font-style: italic;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
table {
  width: 100%;
}
.app-checkbox-header {
  text-align: center;
}
.app-checkbox-small {
  width: 64px;
  max-width: 64px;
}
.app-colored-circle {
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  border-radius: 50%;
  display: inline-block;
}
.is-over-time {
  background-color: #E53935;
  color: white;
}
.app-step-indicator {
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #00bfa5;
  color: white;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}
.example-element-diagram {
  border: 1px solid black;
  padding: 8px;
  border-radius: 18px;
  font-weight: lighter;
  margin: 8px 0;
}
.example-element-symbol {
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
}
.example-element-description {
  padding: 16px;
}
.example-element-description-attribution {
  opacity: 0.5;
}
tr.example-detail-row {
  height: 0;
}


tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

/* Column Widths
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}


/* Progress Arrow Bar CSS */

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 2px 7px 2px 21px;
  min-width: 30px;
  float: left;
  position: relative;
  background-color: #fecfd5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -14px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid #fecfd5;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 14px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step span:before {
  opacity: 0;
  content: "✔";
  position: absolute;
  top: -2px;
  left: -20px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #0050ea;
}

.arrow-steps .step.current:after {
  border-left: 14px solid #0050ea;
}

.arrow-steps .below {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  color: red;
  padding: 2px;
  position: relative;
  z-index: 2;
  top: 20px;
  left: 4px;
}

.moc-material-card {
  border: 1px solid black;
  border-radius: 18px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}


/** NEW progress list **/
.circlelist-container {
  min-width: 300px;
  margin: 0;
}
.circlelist-progressbar {
  counter-reset: step;
  margin: 0;
  padding: 0;
}
.circlelist-progressbar li {
  list-style-type: none;
  width: 19%;
  float: left;
  font-size: 11px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #afafaf;
}
.circlelist-progressbar li:before {
  width: 30px;
  height: 30px;
  /*content: counter(step);*/
  content: "" attr(myAttr) "";
  counter-increment: step;
  line-height: 30px;
  border: 2px solid red;
  display: block;
  text-align: center;
  margin: 0 auto 2px auto;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 2;
}
/*
.circlelist-progressbar li:before .test{
  content: '24';
}*/
.circlelist-progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  /*background-color: #7d7d7d;*/
  background-color: #afafaf;
  top: 15px;
  left: -50%;
  z-index: 1;
}
.circlelist-progressbar li:first-child:after {
  content: none;
}

.circlelist-progressbar li.active {
  color: black;
}
.circlelist-progressbar li.active:before {
  border-color: #55b776;
}
.circlelist-progressbar li.active + li:after {
  background-color: #55b776;
}