@import "./hcp-theme.scss";
@import '~css-star-rating/scss/star-rating';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 16px;
}
p.small {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.mat-elevation-z4 {
  position: relative;
  z-index: 1;
}


.mat-menu-panel.profile-menu {
  max-width: none !important;
  padding: 16px;
}


.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
